gradio
langchain-community
langchain-core
langchain-google-genai
langchain-ollama
langchain-tavily
langchain-text-splitters
langgraph
langgraph-prebuilt
langsmith
pydantic
pypandoc
python-dotenv
supabase
tavily-python
